<h2>RxJS Operators Demo</h2>    

<p>
    This demo illustrates some of the most commonly used rxjs operators,
    with the intent of showing how to string operations together and get
    reactive programming in your own code.
</p>

<nav mat-tab-nav-bar animationDuration="0">
    <a mat-tab-link routerLinkActive='is-active' routerLink='basic-operations'>Basic</a>            
    <a mat-tab-link routerLinkActive='is-active' routerLink='combined-operations'>Combined</a>            
    <a mat-tab-link routerLinkActive='is-active' routerLink='higher-order-operations'>Higher Order</a>            
    <a mat-tab-link routerLinkActive='is-active' routerLink='complex-operations'>Complex</a>                
</nav>
<router-outlet></router-outlet>
