<h2>RxJS Operators Demo</h2>    

<p>
    This demo illustrates some of the most commonly used rxjs operators,
    with the intent of showing how to string operations together and get
    reactive programming in your own code.
</p>

<nav mat-tab-nav-bar animationDuration="0">
    <a mat-tab-link routerLink='basic-operations' (click)="activeLink = 'Basic'" [active]="activeLink == 'Basic'">Basic</a>            
    <a mat-tab-link routerLink='combined-operations' (click)="activeLink = 'Combined'" [active]="activeLink == 'Combined'">Combined</a>            
    <a mat-tab-link routerLink='higher-order-operations' (click)="activeLink = 'HigherOrder'" [active]="activeLink == 'HigherOrder'">Higher Order</a>            
    <a mat-tab-link routerLink='complex-operations' (click)="activeLink = 'Complex'" [active]="activeLink == 'Complex'">Complex</a>                
</nav>
<router-outlet></router-outlet>
